---
import { Button, Label } from "../../lib/astro";
import styles from "../../lib/label/styles";
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>
      <Label style={styles.display1.black}>
        Welcome to <span class="text-gradient">Astro</span>
      </Label>
    </h1>

    <div
      style={{
        display: "flex",
        gap: "0.5em",
      }}
    >
      <Button variant="filled">Filled Button</Button>
      <Button variant="filled" icon={true}>a</Button>
      <Button variant="outlined">Outlined Button</Button>
      <Button variant="outlined" icon={true}>a</Button>
      <Button variant="regular">Regular Button</Button>
      <Button variant="regular" icon={true}>a</Button>
      <Button variant="text">Text Button</Button>
      <Button variant="text" icon={true}>a</Button>
    </div>

    <p class="instructions">
      To get started, open the directory <code>src/pages</code> in your project.<br
      />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message
      above.
    </p>
    <ul role="list" class="link-card-grid">
      <Card
        href="https://docs.astro.build/"
        title="Documentation"
        body="Learn how Astro works and explore the official API docs."
      />
      <Card
        href="https://astro.build/integrations/"
        title="Integrations"
        body="Supercharge your project with new frameworks and libraries."
      />
      <Card
        href="https://astro.build/themes/"
        title="Themes"
        body="Explore a galaxy of community-built starter themes."
      />
      <Card
        href="https://astro.build/chat/"
        title="Community"
        body="Come say hi to our amazing Discord community. ❤️"
      />
    </ul>
  </main>
</Layout>
